.grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
  margin: 12px;
}

@media (min-width: 768px) {
  .contact {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

