.grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* grid-gap: 2rem; */
  /* grid-auto-rows: 1fr; */
  /* grid-template-columns: repeat(1, 1fr); */
}

.card {
  flex-basis: 100%;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .card {
    flex: 0 0 30%;
    max-width: 30%;
  }
}
