.heading {
  position: relative;
  display: inline-block;
}

.heading::after {
  content: '';
  background: #298bf511;
  left: 0;
  top: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
}

.grid {
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
