.heading {
  position: relative;
  display: inline-block;
}

.heading::after {
  content: '';
  background: #298bf511;
  left: 0;
  top: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
}

.splashImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
