.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-top: 1px solid #eaeaef;
}
