.logoStyles {
  height: 150px;
  width: 'auto';
}

.belowimg {
  height: 60px;
  margin: 20px 45px;
}

.aboveCommunity {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 0 60px;
}

.sponsorAll {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.aboveCommunity > * {
  margin-left: 3rem;
}

.belowcommunity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsorAll a img {
  margin: 0 45px;
}

.aboveComunity a img {
  margin: 0 60px;
  align-items: center;
}

.belowcommunity img {
  max-height: 80px;
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  .aboveCommunity {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5rem;
  }

  .aboveCommunity img {
    width: 90%;
    height: auto;
  }

  .belowcommunity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .aboveComunity {
    flex-wrap: wrap;
  }

  .sponsorAll a img,
  .aboveComunity a img {
    margin-top: 4rem;
  }
  .belowcommunity img {
    height: 60px;
    margin: 20px 10px;
    width: auto;
  }

}
