.logoStyles {
  height: 150px;
  width: 'auto';
}

.aboveCommunity {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
}

.aboveCommunity > * {
  margin-left: 3rem;
}

.belowcommunity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.belowcommunity img {
  max-height: 80px;
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  .aboveCommunity {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
  }

  .aboveCommunity img {
    width: 90%;
    height: auto;
  }

  .belowcommunity {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .belowcommunity img {
    height: auto;
    width: auto;
    max-width: 90%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 80px;
  }
}
